
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
  font-weight: bolder;
}

#nav {
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    background-color: black;
    display: flex;
    justify-content:center;
}

#nav>article {
    height: 80px;
    width: 80%;
    border: 2px solid black;
    display: flex;
    justify-content:center;
    /* align-items: center; */

}

#nav>article>.logo {
    height: 70px;
    width: 80%;
    /* background-color: blueviolet; */
    display: flex;
    align-items:end;
    /* justify-content:baseline; */


}

#nav>article>.logo>svg {
    height: 50px;
    width: 25%;
    margin-left: 30px;
    fill: rgb(255, 255, 255);
}

#nav>article>.menu {
    height: 80px;
    width: 80%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* background-color: rgb(255, 152, 16); */
}

#nav>article>.menu>ol {
    height: 100%;
    width: 80%;
    display: flex;
    gap: 25px;

     /* justify-content:right; */
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items:center;
    list-style-type: none;
    

}

#nav>article>.menu>ol>li>a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#nav>article>.menu>ol>li>.x:hover {
    color: rgb(48, 214, 48);
}

#nav>article>.menu>ol>li>.z {
    color: gainsboro;
}

#back {
    height: 90vh;
    width: 100%;
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    /* background-repeat: no-repeat; */
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
#back>article{
   height: 90%;
   width: 60%;
   /* background-color: rgb(51, 125, 190); */
   display: flex;
   justify-content: center;
   align-items: end;

}
#back>article>.mobile{
    height: 95%;
    width: 55%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: white;
    /* background-color: bisque; */
}
#back>article>.mobile>.punch{
    height: 7px;
    width: 45px;
    /* padding-left: 50px; */
    margin-left: 42%;
    margin-top: 30px;
    border-radius: 25px;
    background-color: black;

}
#back>article>.mobile>.img{
    height: 90%;
    width: 95%;
    margin-left: 7px;
    margin-top: 30px;
    /* background-color: brown; */
    background-image: url(./Assets/Mobile_inside.png.jpeg);
    background-position: center;
    background-size: cover;
}
#back>article>.content{
    height:90vh;
    width: 100%;
    margin-left: 20px;
    padding-top:50px;
    /* margin-right: 5px; */
    /* padding-left: 10px; */
    /* background-color: blue; */
    
}
#back>article>.content>h1{
    height: 30vh;
    width: 120%;
    font-size: 50px;
    letter-spacing: -1.56px;
    max-width: 740px;
    font-family:Arial, Helvetica, sans-serif;
    /* font-family: 'Lato', sans-serif; */
    /* font-weight: 900; */
    line-height: 1.15;
    /* padding-bottom: 32px; */
    padding-top: 80px;
    color: white;
    /* text-align: center; */
   font-weight: 900;
   margin-top: 50px;
   margin-left: 65px;
   margin-right: 30px;
   padding-left: 25px;

}
#back>article>.content>button{
    height: 45px;
    width: 35%;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 25px;
    border: none;
    margin-top: 30px;
    /* padding-left: 20px; */
    margin-left: 80px;
    padding-block: 12px;
    padding-inline: 22px;
    border: none;
}
#back>article>.content>button:hover{
    transform: scale(1.05);
    transition: 3ms;
}

.bside>article{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.bside>article>#a>p{
    height: 90px;
    width: 100%;
    font-size: xx-large;
    font-weight:900;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
    margin-top: 60px;
}
.logo>article{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo>article>.ab{
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    border-radius:50%;
}
.logo>article>.a1{
    background-image: url(./Assets/Page3_1.png.jpeg);
    background-position: center;
    background-size: cover;
}
.logo>article>.a2{
    background-image: url(./Assets/Page3_2.png.jpeg);
    background-position: center;
    background-size: cover;
}
.logo>article>.a3{
    background-image: url(./Assets/page3_4.jpeg.jpeg);
    background-position: center;
    background-size: cover;
}
.logo>article>.a4{
    background-image: url(./Assets/page3_3.png.jpeg);
    background-position: center;
    background-size: cover;
}
.txt>article{
    height: 20vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.txt>article>.hp{
    height: 40%;
    width: 100%;
}
.txt>article>.hp1>h1{
    margin-left: 110px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.3rem;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.txt>article>.hp2>h1{
    margin-left: 110px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.3rem;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.txt>article>.hp3>h1{
    margin-left: 100px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.3rem;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.txt>article>.hp4>h1{
    margin-left: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.3rem;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.txt>article>.hp1>p{
    margin-left:110px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}
.txt>article>.hp2>p{
    margin-left:75px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.txt>article>.hp3>p{
    margin-left:10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}
.txt>article>.hp4>p{
    margin-left:-70px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
#fourth{
    height: 70vh;
    width: 100vw;
    border: 2px solid mediumslateblue;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
  
  }
  
  #fourth>h1{
    text-align: center;
    margin-top: 13%;
    font-size: 2.8rem;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }
.ques>article{
    height:15vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.ques>article>h1{
    color: rgb(0,0,0);
    font-size: 40px;
    font-weight: 900;
    margin-top: 50px;
    letter-spacing: -0.02em;
    font-family: 'Lato',sans-serif;
}
#how>article
{
    height: 9vh;
    width: 80%;
    margin-left: 160px;
    /* background-color: blue; */
    display: flex;
    align-items: baseline;
    padding-top: 40px;
}
#how>article:hover{
    cursor: pointer;
}
#how>article>button{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border:none;
    font-family: 'Lato',sans-serif;
}
#how>article>button:hover{
    cursor: pointer;
}
/* abc */
#abc>article
{
    height: 9vh;
    width: 80%;
    margin-left: 160px;
    /* background-color: blue; */
    display: flex;
    align-items: baseline;
    padding-top: 40px;
}
#abc>article:hover{
    cursor: pointer;
}
#abc>article>button{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border:none;
    font-family: 'Lato',sans-serif;
}
#abc>article>button:hover{
    cursor: pointer;
}
/* def */
#def>article
{
    height: 9vh;
    width: 80%;
    margin-left: 160px;
    /* background-color: blue; */
    display: flex;
    align-items: baseline;
    padding-top: 40px;
}
#def>article:hover{
    cursor: pointer;
}
#def>article>button{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border:none;
    font-family: 'Lato',sans-serif;
}
#def>article>button:hover{
    cursor: pointer;
}
/* ghi */
#ghi>article
{
    height: 9vh;
    width: 80%;
    margin-left: 160px;
    /* background-color: blue; */
    display: flex;
    align-items: baseline;
    padding-top: 40px;
}
#ghi>article:hover{
    cursor: pointer;
}
#ghi>article>button{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border:none;
    font-family: 'Lato',sans-serif;
}
#ghi>article>button:hover{
    cursor: pointer;
}
#play>article{
    height: 65vh;
    width: 100%;
    background: url(https://www.scdn.co/i/free/lets-play.svg) center center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224);
    /* background-color: blue; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 25px; */
    /* justify-content: center; */
}
#sixth{
    height: 65vh;
    width: 100%;
    margin-top: 100px;
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    background: url(https://www.scdn.co/i/free/lets-play.svg) center center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224)
  }
  
  #sixth>h1{
    font-size: 75px;
    text-align: center;
    margin-top: 10%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #sixth >.but {
    padding-left: 84px;
    padding-top: 38px;
    display: flex;
    justify-content: center;
    margin-right: 5%;
  
  }
  
  #sixth>.but > button {
    border-radius: 500px;
    font-size: 14px;
    font-weight: bolder;
    padding-block: 12px;
    padding-inline: 22px;
    border: none;
    font-family: 'Lato',sans-serif;
    
  }
  
  #sixth>.but > button:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  #seventh{
    height: 75vh;
    width: 100vw;
    /* border: 2px solid palevioletred; */
    background-color: black;
    position: relative;
  }

  #seventh>.box{
    height: 45vh;
    width: 80vw;
    /* border: 2px solid pink; */
    margin-left: 12%;
    padding-top: 80px;
    display: flex;
    font-family: 'Lato',sans-serif;
  }
  
  #seventh>.box>.box1{
    height: 40vh;
    width: 15vw;
    /* border: 2px solid red; */
    padding-left: 30px;
    line-height: 40px;
    margin-top: 30px;
  }
  #seventh>.box>.box1>svg{
    height: 40px;
    width: 130px;
    fill: white;
  }
  #seventh>.box>.box2{
    height: 40vh;
    width: 15vw;
   
    /* border: 2px solid red; */
    padding-left: 30px;
    line-height: 40px;
    margin-top: 30px;
  }
  
  #seventh>.box>.box2>ul>li{
    list-style-type: none;
    color: gainsboro;
    font-size: 12px;
  }
  
  #seventh>.box>.box2>ul>li>a{
    color: whitesmoke;
    text-decoration: none;
  }
  
  #seventh>.box>.box2>ul>li>a:hover{
    color: limegreen;
  }
  
  #seventh>.box>.box3{
    height: 40vh;
    width: 15vw;
    
    /* border: 2px solid red; */
    padding-left: 30px;
    line-height: 40px;
    margin-top: 30px
  }
  
  #seventh>.box>.box3>ul>li{
    list-style-type: none;
    color: gainsboro;
    font-size: 12px;
  }
  
  #seventh>.box>.box3>ul>li>a{
    color: whitesmoke;
    text-decoration: none;
  }
  
  #seventh>.box>.box3>ul>li>a:hover{
    color: limegreen;
  }
  
  
  #seventh>.box>.box4{
    height: 40vh;
    width: 15vw;
    /* border: 2px solid red; */
    padding-left: 30px;
    line-height: 40px;
    margin-top: 30px
  }
  
  #seventh>.box>.box4>ul>li{
    list-style-type: none;
    color: gainsboro;
    font-size: 12px;
  }
  
  #seventh>.box>.box4>ul>li>a{
    color: whitesmoke;
    text-decoration: none;
  }
  
  #seventh>.box>.box4>ul>li>a:hover{
    color: limegreen;
  }
  
  
  #seventh>.box>.box5{
    height: 40vh;
    width: 15vw;
    /* border: 2px solid red; */
    padding-left: 30px;
    line-height: 40px;
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
  }
  
  #seventh>.box>.box5>ul{
    display: flex;
    gap: 20px;
  }
  
  #seventh>.box>.box5>ul>li{
    list-style-type: none;
  }
  
  #seventh>.box>.box5>ul>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 44px;
    height: 44px;
  }
  
  #seventh>.box>.box5>ul>li>a>img{
    height: 44px;
    width: 44px;
    border-radius: 100px;
  }
  
  #seventh>.box22{
    height: 5vh;
    width: 55vw;
    /* border: 2px solid green; */
    margin-left: 10%;
    margin-top: 8%;
  }
  
  #seventh>.box22>ul{
    display: flex;
    font-size: 12px;
    gap: 25px;
    margin-left: 5%;
  }
  
  #seventh>.box22>ul>li{
    list-style-type: none;
  }
  
  #seventh>.box22>ul>li>a{
    text-decoration: none;
    color: gainsboro;
  }
  
  #seventh>.box22>ul>li>a:hover{
    color: limegreen;
    cursor: pointer;
  }
  









